@font-face {
    font-family: 'courier_primeregular';
    src: url('fonts/courier_prime-webfont.woff2') format('woff2'),
        url('fonts/courier_prime-webfont.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy-extrabold';
    src: url('fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
        url('fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-blue: #4463ad;
    --color-green: #008051;
    --color-light-teal: #eef5f1;
    --color-orange-dark: #ce3900;
    --font-header: 'gilroy-extrabold', -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    --font-monospaced: 'courier_primeregular', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    --font-size-xl: 2.667rem;
    --font-size-lg: 2rem;
    --font-size-md: 1.5rem;
    --font-size-sm: 1.333rem;
    --font-size-xs: .778rem;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

*:focus {
    outline: 2px dotted var(--color-green);
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 112.5%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-light-teal);
    color: var(--color-blue);
    font-family: var(--font-monospaced);
    line-height: 1.6;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0;
}

header,
section,
main {
    display: block;
}

a {
    background-color: transparent;
    color: var(--color-green);
    -webkit-text-decoration-skip: objects;
}

a:hover,
a:focus {
    text-decoration: underline;
}

img {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    -webkit-text-decoration-skip: ink;
            text-decoration-skip-ink: auto;
}

.btn {
    border: 3px solid var(--color-orange-dark);
    color: var(--color-orange-dark);
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.btn:hover,
.btn:focus {
    background-color: var(--color-orange-dark);
    color: var(--color-light-teal);
    text-decoration: none;
}

header {
    padding: 4rem;
}

@media only screen and (min-width: 720px) {
    header {
        padding: 8rem 4rem;
    }
}

.section1 {
    margin: 0 auto;
    max-width: 718px;
}

header p {
    font-size: var(--font-size-sm);
}

h1,
h2,
h3 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: var(--font-header);
    font-size: var(--font-size-xl);
    line-height: 1.2;
    margin-top: 0;
    margin: 0 0 0.67em;
}

h2 {
    font-family: var(--font-header);
    font-size: var(--font-size-sm);
    margin-top: 0;
}

@media only screen and (min-width: 540px) {
    h2 {
        padding-left: 1rem;
    }
}

@media only screen and (min-width: 720px) {
    h2 {
        font-size: var(--font-size-lg);
    }
}

h3 {
    font-family: var(--font-header);
    font-size: var(--font-size-md);
    line-height: 1.2;
    margin-bottom: .5rem;
}

h3 a {
    color: #f94500;
}

h4 {
    font-family: var(--font-header);
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

.section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2rem;
}

@media only screen and (min-width: 720px) {
    .section2 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin-bottom: 6rem;
    }
}

.first picture {
    display: block;
    height: auto;
    position: relative;
}

@media only screen and (min-width: 720px) {
    .first picture::after {
        background-color: rgba(0,0,0,0.05);
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transform: translate(1rem, 1rem);
            -ms-transform: translate(1rem, 1rem);
                transform: translate(1rem, 1rem);
        z-index: -1;
    }
}

@media only screen and (min-width: 720px) {
    .section2 .first,
    .section2 .second {
    width: 50%;
    }
}
.section2 .first img {
    width: 100%;
    height: 100%;
    max-height: 540px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

@media only screen and (min-width: 720px) {
    .section2 .first {
    background-size: 720px auto;
    }
}

.section2 .second {
    padding: 1rem 2rem;
}

@media only screen and (min-width: 720px) {
    .section2 .second {
        padding: 1rem 4rem;
    }
}

.section2 .second h4 {
    margin-bottom: 1rem;
}

.section3 {
    padding: 2rem;
}

.work-grid {
    list-style: none;
    margin: 0;
    padding: 0;
}

.work-grid li {
    margin-bottom: 6rem;
}

.work-grid ul {
    margin-top: 1rem;
}

.work-grid li li {
    margin-bottom: 0;
    padding: 0;
    width: 100%;;
}

.work-grid img {
    background-color: var(--color-blue);
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
            box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.work-grid [href] {
overflow-wrap: break-word;
word-wrap: break-word;
word-break: break-all;
word-break: break-word;
-webkit-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}

@media only screen and (min-width: 540px) {
    .work-grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.work-grid li {
    margin-bottom: 2rem;
    padding: 1rem;
    width: 50%;
    }
}

@media only screen and (min-width: 720px) {
    .work-grid li {
    width: 33.333%;
    }
}

footer {
    padding: 3rem 1rem 4rem;
    text-align: center;
}

footer .small {
    font-size: var(--font-size-xs);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--color-blue);
        color: var(--color-light-teal);
    }

    a {
        color: #b4f3bc;
    }
    
    a.btn {
        border-color:#f9ae00;
        color: #f9ae00;
    }

    a.btn:hover, a.btn:focus {
        border-color: #f9ae00;
        background-color: #f9ae00;
        color: #634a30;
    }

    h3 a {
        color: #f9ae00;
    }

    footer .small {
        color: var(--color-light-teal);
    }
}