/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
    font-family: 'courier_primeregular';
    src: url('/fonts/courier_prime-webfont.woff2') format('woff2'),
         url('/fonts/courier_prime-webfont.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy-extrabold';
    src: url('/fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('/fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
    background-color: #eef5f1;
    font-display: swap;
    font-family: courier_primeregular, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            -o-transition-duration: 0.01ms !important;
       transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* FLOW */
.flow {
    --flow-space: 1em;
}

.flow > * + * {
    margin-top: 1em;
    margin-top: var(--flow-space);
}

.flow h1 + h2 {
    margin: 0;
}

.flow > h3 + * {
    margin-top: 1.5rem;
}

a {
    color: #004CFF;
}

h1,
h2,
h3 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'gilroy-extrabold',-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-weight: normal;
}

h1 {
    font-size: 2rem;
}

h2 {
    color: #757575;
    font-size: 1.5rem;
    font-style: italic;
}

h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

h4 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Colo, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 1.15rem;
    font-weight: 400;
}

h4 strong {
    font-family: 'gilroy-extrabold',-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-weight: bold;
}

/* RESUME */
.resume {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
            box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
    display: grid;
    display: -ms-grid;
    display: grid;
    grid-gap: 2vw;
        grid-template-areas:
        "photo"
        "name"
        "about"
        "work"
        "skills"
        "education"
        "community";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: minmax(250px, auto);
    grid-template-rows: minmax(250px, auto);
    margin: 10vh auto;
    max-width: calc(100% - 10vw);
    padding: 2vw 6vw;
    width: 1280px;
}

@media only screen and (min-width: 780px) {
    .resume {
            grid-template-areas:
            "name  photo"
            "work  about"
            "work  skills"
            "education community";
        -ms-grid-columns: 2fr 2vw 1fr;
        grid-template-columns: 2fr 1fr;
        -ms-grid-rows: minmax(250px, 250px) 2vw 1fr 2vw 1fr 2vw 1fr;
        grid-template-rows: minmax(250px, 250px) 1fr 1fr 1fr;
    }
}

.name {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            -ms-flex-direction: column;
        flex-direction: column;
    grid-area: name;
    -webkit-box-pack: center;
            -ms-flex-pack: center;
        justify-content: center;
}

.name p {
    margin-top: .5rem;
}

.photo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-area: photo;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.photo picture {
    border-radius: 50%;
    height: 250px;
    overflow: hidden;
    width: 250px;
}

.about {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: about;
}

.work {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: work;
}

.education {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    grid-area: education;
}

.skills {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    grid-area: skills;
}

.community {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    grid-area: community;
}

.community,
.skills,
.about {
    hyphens: auto;
    text-align: justify;
}

@media only screen and (min-width: 780px) {
    .name {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .photo {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .about {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    .work {
        -ms-grid-row: 3;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
    }
    .education {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }
    .skills {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    }
    .community {
        -ms-grid-row: 7;
        -ms-grid-column: 3;
    }
}

.resume--date {
    display: block;
    font-size: 0.875rem;
    line-height: 2;
    opacity: .75;
}

footer {
    padding: 3rem 1rem 4rem;
    text-align: center;
}

footer p {
    margin-bottom: 1rem;
}

footer .small {
    font-size: 0.875rem;
    color: #666;
}